@model IEnumerable<WebApplication1.PremioNobel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motivacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Motivacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PremioNobelId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PremioNobelId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PremioNobelId })
        </td>
    </tr>
}

</table>
